.header {
    max-width: 1240px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 1.81rem 0;
    margin: 0 auto;
}

.header__logo {
    width: 181px;
    height: 27px;
}

.header__search-btn {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 34px;
    right: 15px;
    border: none;
    background-color: transparent;
    background-image: url("../../images/search.svg");
    background-size: contain;
    cursor: pointer;
}

.header__menu-btn {
    display: none;
}

@media screen and (max-width: 600px) {
    .header {
        justify-content: space-between;
        padding: 1.81rem 1.25rem 0;
    }

    .header__logo {
        width: 163px;
        height: 24px;
    }

    .header__search-btn {
        position: static;
    }

    .header__menu-btn {
        width: 24px;
        height: 17px;
        display: block;
        border: none;
        background-color: transparent;
        background-image: url("../../images/menu.svg");
        background-size: contain;
        cursor: pointer;
    }
}